:root {
  --clr-green: hsl(127, 100%, 82%);
  --clr-red: hsl(0, 91%, 63%);
  --clr-orange: hsl(13, 95%, 66%);
  --clr-yellow: hsl(42, 91%, 68%);

  --clr-neutral-900: hsl(248, 15%, 11%);
  --clr-neutral-600: hsl(248, 10%, 15%);
  --clr-neutral-400: hsl(251, 9%, 53%);
  --clr-neutral-100: hsl(252, 11%, 91%);

  --ff-base: "JetBrains Mono", monospace;

  --fs-200: 1.125rem;
  --fs-400: 1.5rem;
  --fs-600: 2rem;

  --fw-regular: 500;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  color: var(--clr-neutral-100);
  font-size: var(--fs-200);
  font-family: var(--ff-base);
}

img,
picture,
video,
canvas,
svg {
  cursor: pointer;
  max-width: 100%;
}



input,
button,
textarea,
select {
  font: inherit;
}

.headingL {
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
}

.headingM {
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
}

/*Utility*/
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.green {
  color: var(--clr-green);
}

.container {
  padding: 1rem;
}

.btn {
  background-color: var(--clr-green);
  outline: transparent;
  border: none;
  padding-block: 0.9rem;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;

  &:hover {
    background-color: transparent;

    color: var(--clr-green);
    border: 2px solid var(--clr-green);
  }
}

.hidden {
  display: none;
}

.clr-light-grey {
  color: var(--clr-neutral-400);
  font-feature-settings: "clig" off, "liga" off;
}

.fs-400 {
  font-size: var(--fs-400);
}

.bg-grey {
  background-color: var(--clr-neutral-600);
}

.bg-black {
  background-color: var(--clr-neutral-900);
}

:where(.flow) > :not(:first-child) {
  margin-top: var(--flow-spacer, 1rem);
}

/*main*/
main {
  background: linear-gradient(180deg, #14131b 0%, #08070b 100%);
  height: 100vh;

  display: grid;
  place-items: center;
}

section {
  width: min(540px, 100%);
}

.title {
  text-align: center;
}

.copied-text {
  display: none;
  color: var(--clr-green);
  padding-right: 0.6em;
}

.icon-copy:hover {
  scale: 1.3;
}

.password-length span {
  font-weight: var(--fw-bold);
  font-size: 2rem;
}

.slider {
  appearance: none;
  width: 100%;
  height: 7px;
  background: hsl(248, 15%, 11%);
  background-image: linear-gradient(hsl(127, 100%, 82%), hsl(127, 100%, 82%));
  background-repeat: no-repeat;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  height: 25px;
  width: 25px;
  background: var(--clr-neutral-100);
  border-radius: 50%;
}

.slider::-webkit-slider-thumb:hover {
  background: black;
  border: 2px solid var(--clr-green);
}

.inputCheck {
  display: flex;
  align-items: center;
  gap: 1em;
}

.iconCheck {
  padding: 2px;
  display: none;
}

#uppercase:checked,
#lowercase:checked,
#symbols:checked,
#numbers:checked {
  + label {
    background-color: var(--clr-green);
    border: none;

    > img {
      display: block;
    }
  }
}

.labelCheck {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  aspect-ratio: 1/1;
  border: 2px solid var(--clr-neutral-400);

  background-color: transparent;
}

.strength-bar {
  display: flex;
  padding-left: 0.4em;
  gap: 8px;
}

.rectangle {
  width: 10px;
  height: 28px;
  background-color: transparent;
  border: 2px solid var(--clr-neutral-400);
}
